body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.header {
  background-image: url("./assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 240px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}

.header__logo {
  display: flex;
  gap: 15px;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 187.5% */
  text-transform: uppercase;
}

.header__logo-text {
  color: #f7f7f7;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 187.5% */
  text-transform: uppercase;
  align-self: center;
}

.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-family: Open Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  align-self: center;
}

.header__menu-link {
  color: #ffff;
}

.header__menu-button {
  color: #f7f7f7;
  border-radius: 5px;
  border: 2px solid #cd6326;
  padding: 10px 23px;
  background-color: transparent;
  font-family: Open Sans;
  font-size: 23px;
}

.header__conten-ttitle {
  color: #cd6326;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
  letter-spacing: 2px;
  margin-bottom: 51px;
}

.header__conten-text {
  max-width: 274px;
  color: #f7f7f7;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 49px;
}

.header__conten-btn {
  padding: 16px 42px;
  border-radius: 5px;
  background: var(--orange-main, #cd6326);
  font-family: Open Sans;
  font-size: 23px;
  color: #f7f7f7;
}

.main {
  padding-top: 120px;
  padding-bottom: 240px;
  background-color: #ccc;
}

.articles-title {
  color: #333;
  text-align: center;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  padding-bottom: 20px;
}

.articles-text {
  color: #666;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 120px;
}

.articles-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.articles__info {
  position: relative;
  display: inline-block;
}

.articles-img {
  position: relative;
  display: inline-block;
  display: block;
  width: 100%;
  height: auto;
}

.articles__img-info {
  position: absolute;
  left: 50%;
  top: 70%;
  text-align: center;
  color: #ffffff;
}

.articles__img-animal {
  color: #f7f7f7;
  text-align: center;
  font-family: Open Sans;
  font-size: 22px;
  line-height: 36px;
}

.articles__info-text {
  color: #f7f7f7;
  text-align: center;
  font-family: Open Sans;
  font-size: 17px;
  line-height: 27px; /* 158.824% */
}

/* footer------------------------- */

.footer {
  background-image: url("./assets/images/footer.jpg");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center;
  padding: 150px 120px;
}

.footer__logo {
  display: flex;
  gap: 15px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo-text {
  color: #f7f7f7;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 187.5% */
  text-transform: uppercase;
}

.footer__menu-list {
  display: flex;
  gap: 86px;
}

.footer__menu-link {
  color: #f7f7f7;

  /* menu-UI */
  font-family: Open Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 260.87% */
}

.footer-sotial {
  display: flex;
  gap: 27px;
}
